# ARTI-308: Lab 2 â€“ Identifying ML Problems & Methodology

This notebook covers dataset selection, problem definition, and basic dataset inspection
as part of Lab 2 for the ARTI 308 Machine Learning course.

###  Part 1: Choosing an Open Dataset

The dataset used in this lab was selected from **Kaggle**.  
It is a tabular **Breast Cancer** dataset provided in CSV format and is suitable for a
classification task.

![Breast Cancer](Breast_Cancer_img.png)

### Part 2: Defining the Machine Learning Problem

The objective of this project is to predict the survival status of **Breast Cancer** patients
based on demographic, clinical, and tumor-related features.

**Problem Type:**  
This is a supervised learning problem formulated as a binary classification task.

**Target Variable:**  
The target variable is **Status**, which indicates the patient outcome (e.g., alive or deceased).

### Part 3: Loading and Inspecting the Dataset

In this step, the dataset is loaded using Pandas and basic information is displayed to
understand its structure.

In [1]:
# Import libraries
import pandas as pd # pandas is used for data loading and analysis

In [2]:
# Load the dataset into a pandas DataFrame
C_df = pd.read_csv("Breast_Cancer.csv")

C_df.head() # display first 5 rows

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive

In [3]:
# Display the shape --> (rows, columns)
print("Dataset Shape:", C_df.shape)

Dataset Shape: (4024, 16)

In [4]:
# Check column names, data types, and missing values
C_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   differentiate           4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: int64(5), object(11)
memory usage: 503.1+ KB

### Part 4: Designing the Methodology Diagram
The methodology diagram was designed using an AI-based visualization tool to illustrate the machine learning workflow clearly.

<img src="ML_MethodologyDiagram.png" width="800"/>